<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context
   	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- location to load properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
	<!-- 
		if we are using annotation based spring framework then we should scan all the bean classes and 
		load into spring container.
		we can add all bean entry by comma separated. 
		remember! we have to only specify the package name containing bean class.
		if we need to specify more than one package we can use comma to separate then bean package name. 
	-->
	<context:component-scan base-package="com.springdemo.di.mobile,
										  com.springdemo.di.os,
										  com.springdemo.di.properties">
	</context:component-scan>
</beans>