<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context
   	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 
		if we are using annotation based spring framework then we should scan all the bean classes and 
		load into spring container.
		we can add all bean entry by comma separated. 
	-->
	<context:component-scan base-package="com.springdemo.scope.cycle"></context:component-scan>
</beans>